<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head('Home')">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home page</title>
</head>
<body>
<div th:replace="fragments/common"></div>


<div sec:authorize="isAnonymous()">



<form id="inputForm" method="post"    th:action="@{/index}" th:object="${loginDto}" acceptCharset="UTF-8" >

    <a th:href="login" class="btn btn-primary">Log in</a>

    <a href="register" class="btn btn-secondary">Register</a>
</form>

</div>


<div th:replace="fragments/foot::foot"></div>
</body>
</html>